# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
target/
### macOS template
*.DS_Store
*.idea/
*.iml
//src/main/scala/org/lab/spark/language/scala/ch*/sec*/repl-session.scala